language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"

# Setup anaconda
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda3/bin:$PATH
  - conda update --yes conda
  # The next couple lines fix a crash with multiprocessing on Travis and are not specific to using Miniconda
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm

# command to install dependencies
install:
  - conda create --yes -n=travis python=$TRAVIS_PYTHON_VERSION
  - source activate travis
  - conda install --yes numpy scipy nose pandas matplotlib
  - pip install coveralls
  - python setup.py install

# command to run tests
script: nosetests --with-coverage

after_success:
  - coveralls
